.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  height: 50px;
  background: #fff;
  width: 100%;
  z-index: 5;
}
.nav_menue {
  padding: 15px;
  margin: 0;
}
.page1_container {
  padding: 10px;
}
.page1_box_blue {
  background: #122a44;
  border-radius: 5px;
  padding: 25px 15px;
}
