.blue_note_1 {
  font-size: 13px !important;
  color: #00adef;
}
.black_1 {
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #122a44;
  font-weight: 700 !important;
}

h3.refer_h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #122a44;
  text-align: start;
  margin: 0;
  margin-top: 30px;
}
.refer_box {
  color: #48c6ee;
  border: 1px solid #48c6ee;
  border-radius: 5px;
  margin: 0;
  margin-top: 20px;
  width: 70%;
  font-size: 13px;
  padding: 7px 10px;
  font-weight: 500;
}
.margin_20 {
  margin-top: 20px;
}
